.ng-cloak {
    display: none !important
}

button, input, select, label {
    font-size: 16px !important
}

body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    cursor: none;
}

div.col-12 {
    margin-bottom: 20px;
}

@media (min-width: 767px) {
    #dim, #vel {
        width: 80px
    }

    #sound {
        width: 30px
    }

    .fixedsize {
        width: 100px !important
    }

    .form-group {
        margin-left: 10px
    }

    .form-group:first-child {
        margin-left: 0
    }
}